{% extends 'base.html' %}

{% block content %}

<form method="POST">
    {% csrf_token %}

    {% if message %}
    <div style="color: {{ color }}; margin-bottom: 15px; font-weight: bold;">
        {{ message }}
    </div>
    {% endif %}

    <h2>🗑️ Delete Yard</h2>

    <label>Yard ID to Delete:</label>
    <input type="number" name="Yard_ID" required><br><br>

    <button type="submit"
        onclick="return confirm('Are you sure you want to delete this yard?');">
        Delete Yard
    </button>
</form>

<style>

form{

    width: 65%;

    margin: 40px auto;

    padding: 40px;

    border-radius: 30px;

    background: rgba(22, 34, 52, 0.78);

    backdrop-filter: blur(18px);

    box-shadow:
    0 8px 32px rgba(0,0,0,0.35);

    display: flex;

    flex-direction: column;

    gap: 18px;
}

/* title */

form h2{

    text-align: center;

    color: #67e8f9;

    margin-bottom: 10px;

    font-size: 34px;
}

/* labels */

label{

    color: #dbe7f3;

    font-size: 16px;

    margin-bottom: -10px;
}

/* inputs */

input{

    width: 100%;

    padding: 15px 18px;

    border: none;

    outline: none;

    border-radius: 16px;

    background: rgba(255,255,255,0.06);

    color: white;

    font-size: 15px;

    transition: 0.3s ease;

    border: 1px solid transparent;
}

/* input focus */

input:focus{

    border: 1px solid #67e8f9;

    box-shadow:
    0 0 15px rgba(103,232,249,0.35);

    background: rgba(255,255,255,0.08);
}

/* placeholder */

input::placeholder{

    color: #9fb3c8;
}

/* save button */

button{

    margin-top: 10px;

    padding: 15px;

    border: none;

    border-radius: 18px;

    background: linear-gradient(
    135deg,
    #ff6b81,
    #ff4d6d
    );

    color: white;

    font-size: 17px;

    font-weight: 600;

    cursor: pointer;

    transition: 0.3s ease;

    box-shadow:
    0 8px 20px rgba(255,77,109,0.25);
}

button:hover{

    transform: translateY(-3px);

    box-shadow:
    0 12px 24px rgba(255,77,109,0.35);
}
/* messages */

form div{

    text-align: center;

    font-weight: bold;

    margin-bottom: 10px;
}

</style>

{% endblock content %}