<div class="sidebar">
    
    <a href="{% url 'insert_equipment' %}">Add Equipment</a>
    <a href="{% url 'equipment_list' %}">All Equipments</a>
    <a href="{% url 'insert_yard' %}">Add Yard</a>
    <a href="{% url 'yard_list' %}">All Yards</a>

</div>
<style>
    .sidebar{
width: 100%;       
        height: 68px;
        position: fixed;   
        top: 0;
        left: 0;           
        background-color: #333; 
        padding-top: 20px;
        color: white;
        display: flex;   
        align-items: center;
    }
    .sidebar a {
        padding: 15px;
        text-decoration: none;
        font-size: 18px;
        color: white;
        display: block;       
    }


    .sidebar a:hover {
        background-color: #575757;
    }
</style>